In [2]:
print ("THis is the first Print command on Python")

THis is the first Print command on Python

In [6]:
print("add these 2 number and the sum:", 1 + 2)

add these 2 number and the sum: 3

In [10]:
a = 100
print("a: ", id(a))
b = 100
print("b:", id(b))
print (id(a) + 1)

a:  11657544
b: 11657544
11657545

In [14]:
a,b,c = 10,20,"sd"
print(a,b,c)

10 20 sd

In [18]:
# to get all the keywords in Python
import keyword as kl
print(kl.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [2]:
#Multiline comment

""" This is a
Multiline comment
syntax """

print("Multiline comment")

Multiline comment