<a href="https://colab.research.google.com/github/abhinav-personal/Abhi-AIML-PythonTest/blob/main/Day3_ML_journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
# Type funtion return the datatype of the variable
a = 23
print (a)
print(type(a))

23
<class 'int'>

In [14]:
#List - Replacement of Array
L1 = [1,"NTT",23.3, 2+3, [1,2,3]]
print(L1[-1])
print(type(L1))

[1, 2, 3]
<class 'list'>

In [21]:
a=23
print(isinstance(a,int))

True

In [28]:
""" variable annotations is to let people know how this variable should be treated.
not enforcing the datatype"""
EmpID: int = "NTT"
print(EmpID)
print(type(EmpID))
print(__annotations__['EmpID'])

NTT
<class 'str'>
<class 'int'>

In [29]:
#tuple is also a replacement of array but Immutable
T1= (10,23.4,"NTT")
print(T1[-1])

NTT

In [44]:
# Dictionary is also a replacement of array but in key value pair.
# This also gives the option to create the index value of our own

D1 = {'a':1, 'b':2, 10:"test"}
print(D1['a'])

1

In [45]:
# Set is also a replacement of array but in unordered format.

S1 = {1, 2, "test"}
print(S1)

{1, 2, 'test'}

In [56]:
a = range(10,21,2)
print(set(a))

{10, 12, 14, 16, 18, 20}

In [57]:
a = 9//2
print(a)

4