<a href="https://colab.research.google.com/github/abhinav-personal/Abhi-AIML-PythonTest/blob/main/Day4_ML_journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""Negative indexing slicing"""
name = "bangalore"
print(name[-5:2:-2])

a

In [26]:
testName = "Hello, World!"
print(testName[::-1])

!dlroW ,olleH

In [8]:
# input funtion
name = input("Enter your name: ")
print("Hello, " + name)

Enter your name: Abhinav
Hello, Abhinav

In [16]:
# Decision making statements in python
# else - if statement
val1 = input("Enter your val1: ") # input funtion always return the input as String
val1 = int(val1)

val2 = input("Enter your val2: ") # input funtion always return the input as String
val2 = int(val2)

if val1 > val2:
  print("greater")
elif val1 == val2:
  print("equal")
else:
  print("lesser")

Enter your val1: 34
Enter your val2: 34
equal

In [32]:
name = input("Enter a name: ")
name = str(name)
print(name[::-1])
if name == name[::-1]:
  print(name + ": is a palindrome " + "word")
else:
  print(name + ": is not a palindrome")

Enter a name: abccba
abccba
abccba: is a palindrome word

In [39]:
#while loop
id1 = input("Enter your id1: ")
id1 = int(id1)
id2 = input("Enter your id2: ")
id2 = int(id2)
while(id1 < id2):
  print(id1,  " is less than ",  id2)
  id1 = id1 + 1

print("end of while")

Enter your id1: 12
Enter your id2: 15
12  is less than  15
13  is less than  15
14  is less than  15
end of while

In [45]:
number = input("Enter a number you want the table of: ")
number = int(number)
i=1
print("Table of", number, ":")
print("-------------")
while(i<=10):
  print(number, "x", i, "=", number*i)
  i = i + 1

Enter a number you want the table of: 7
Table of 7 :
-------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [46]:
# for loop
name = "Abhinav"
for i in name:
  print(i)

A
b
h
i
n
a
v