<a href="https://colab.research.google.com/github/abhinav-personal/Abhi-AIML-PythonTest/blob/main/Day6_ML_journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
vList = [20,3+4j,3.14,"NTT",True]
for i in vList:
    print(i,type(i))

20 <class 'int'>
(3+4j) <class 'complex'>
3.14 <class 'float'>
NTT <class 'str'>
True <class 'bool'>

In [2]:
#concatination of list
l1 = [10,20,"NTT", 3.4]
l2 = [34,65,4+5j, "Data"]
l3 = l1+l2
print (l3)

[10, 20, 'NTT', 3.4, 34, 65, (4+5j), 'Data']

In [3]:
#multiplication of list
l1=[10,20,30]
print(l1*2)

[10, 20, 30, 10, 20, 30]

In [5]:
#membership operator (in, notin)
l1=[10,30,45]
print(10 in l1)
print(45 not in l1)

True
False

In [10]:
l1=[10,20,30,40]
print(l1[0])
print(l1[1])
del l1[0]
print(max(l1))
del l1

10
20
40

In [17]:
#max function
l1 = ["Abhinav", "Srivastava", "Palak", "Anav", "Pavika"]
print(max(l1, key = len))

l2 = []
print(max(l2, key = len, default = [10,20,30]))

Srivastava
[10, 20, 30]