<a href="https://colab.research.google.com/github/abhinav-personal/Abhi-AIML-PythonTest/blob/main/Day9_ML_journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import copy
l1 = [10,20,30,40]
l2 = l1
print(l1)
print(l2)
print(id(l1))
print(id(l2))

l2[2] = "Test"

print(l1)
print(l2)
print(id(l1))
print(id(l2))

l3 = copy.copy(l1)
print(l1)
print(l3)
print(id(l3))
l3[1] = "NTT"
print(l1)
print(l3)
print(id(l3))

[10, 20, 30, 40]
[10, 20, 30, 40]
139245589135104
139245589135104
[10, 20, 'Test', 40]
[10, 20, 'Test', 40]
139245589135104
139245589135104
[10, 20, 'Test', 40]
[10, 20, 'Test', 40]
139245587442432
[10, 20, 'Test', 40]
[10, 'NTT', 'Test', 40]
139245587442432

In [19]:
#shallow copy
import copy
l1 = [[1,2,3], [4,5], ["Test", "Abhinav"]]
l2 = copy.copy(l1)
print("Id of list 1: ",  id(l1))
print("Id of List 2: ", id(l2))
for i in l1:
  print("Id of ", i , "element of List 1 is: ", id(i))

for k in l2:
  print("Id of ", k , "element of List 2 is: ", id(k))

l1.append(34)
print(l1)
print(l2)

Id of list 1:  139245586391808
Id of List 2:  139245586386560
Id of  [1, 2, 3] element of List 1 is:  139245587985024
Id of  [4, 5] element of List 1 is:  139245586398208
Id of  ['Test', 'Abhinav'] element of List 1 is:  139245588305024
Id of  [1, 2, 3] element of List 2 is:  139245587985024
Id of  [4, 5] element of List 2 is:  139245586398208
Id of  ['Test', 'Abhinav'] element of List 2 is:  139245588305024
[[1, 2, 3], [4, 5], ['Test', 'Abhinav'], 34]
[[1, 2, 3], [4, 5], ['Test', 'Abhinav']]
None

In [20]:
#deep copy
#shallow copy
import copy
l1 = [[1,2,3], [4,5], ["Test", "Abhinav"]]
l2 = copy.deepcopy(l1)
print("Id of list 1: ",  id(l1))
print("Id of List 2: ", id(l2))
for i in l1:
  print("Id of ", i , "element of List 1 is: ", id(i))

for k in l2:
  print("Id of ", k , "element of List 2 is: ", id(k))

l1.append(34)
print(l1)
print(l2)

Id of list 1:  139245586393728
Id of List 2:  139245586399168
Id of  [1, 2, 3] element of List 1 is:  139245586386304
Id of  [4, 5] element of List 1 is:  139245586387456
Id of  ['Test', 'Abhinav'] element of List 1 is:  139245586384960
Id of  [1, 2, 3] element of List 2 is:  139245587260928
Id of  [4, 5] element of List 2 is:  139245586392000
Id of  ['Test', 'Abhinav'] element of List 2 is:  139245587432000
[[1, 2, 3], [4, 5], ['Test', 'Abhinav'], 34]
[[1, 2, 3], [4, 5], ['Test', 'Abhinav']]

In [30]:
#set in python
vset1 = {10,"Abhinav", 20.4, 3+4j,15, "NTT", "Blr"}
print(vset1)
vset2=set("NTT Data")
print(vset2)

{'Abhinav', (3+4j), 20.4, 'Blr', 10, 'NTT', 15}
{'a', 'T', 't', 'N', 'D', ' '}